:root {
  --color-gray00: #000000; /* grayだけ */
  --color-gray05: #111111;
  --color-gray10: #1b1b1b;
  --color-gray15: #262626;
  --color-gray20: #303030;
  --color-gray25: #3b3b3b;
  --color-gray30: #474747;
  --color-gray35: #525252;
  --color-gray40: #5e5e5e;
  --color-gray45: #6a6a6a;
  --color-gray50: #777777;
  --color-gray55: #848484;
  --color-gray60: #919191;
  --color-gray65: #9e9e9e;
  --color-gray70: #ababab;
  --color-gray75: #b9b9b9;
  --color-gray80: #c6c6c6;
  --color-gray85: #d4d4d4;
  --color-gray90: #e2e2e2;
  --color-gray95: #f1f1f1;
  --color-gray100: #ffffff; /* grayだけ */

  --color-red05: #480000;
  --color-red10: #550000;
  --color-red15: #620000;
  --color-red20: #700000;
  --color-red25: #7e000e;
  --color-red30: #8d0b19;
  --color-red35: #9c1f23;
  --color-red40: #ab2f2e;
  --color-red45: #ba3d39;
  --color-red50: #c94b44;
  --color-red55: #d85950;
  --color-red60: #e8665b;
  --color-red65: #f77468;
  --color-red70: #ff8274;
  --color-red75: #ff8f81;
  --color-red80: #ff9d8e;
  --color-red85: #ffab9b;
  --color-red90: #ffb9a8;
  --color-red95: #ffc8b6;

  --color-orange05: #410000;
  --color-orange10: #4c0000;
  --color-orange15: #580000;
  --color-orange20: #650800;
  --color-orange25: #721900;
  --color-orange30: #802600;
  --color-orange35: #8f3302;
  --color-orange40: #9e400f;
  --color-orange45: #ac4c1c;
  --color-orange50: #bb5928;
  --color-orange55: #ca6634;
  --color-orange60: #da7340;
  --color-orange65: #e9804c;
  --color-orange70: #f88d58;
  --color-orange75: #ff9b65;
  --color-orange80: #ffa972;
  --color-orange85: #ffb67f;
  --color-orange90: #ffc48c;
  --color-orange95: #ffd399;

  --color-yellow05: #300600;
  --color-yellow10: #371300;
  --color-yellow15: #401e00;
  --color-yellow20: #4b2900;
  --color-yellow25: #563400;
  --color-yellow30: #623f00;
  --color-yellow35: #6f4b00;
  --color-yellow40: #7d5600;
  --color-yellow45: #8b6200;
  --color-yellow50: #996f00;
  --color-yellow55: #a77b08;
  --color-yellow60: #b6881c;
  --color-yellow65: #c4952b;
  --color-yellow70: #d3a239;
  --color-yellow75: #e2b047;
  --color-yellow80: #f1bd54;
  --color-yellow85: #ffcb61;
  --color-yellow90: #ffd96e;
  --color-yellow95: #ffe77c;

  --color-rime05: #181600;
  --color-rime10: #201f00;
  --color-rime15: #242a00;
  --color-rime20: #2b3500;
  --color-rime25: #344100;
  --color-rime30: #3f4c00;
  --color-rime35: #4b5800;
  --color-rime40: #576400;
  --color-rime45: #647100;
  --color-rime50: #727d00;
  --color-rime55: #7f8a00;
  --color-rime60: #8d9717;
  --color-rime65: #9aa428;
  --color-rime70: #a8b237;
  --color-rime75: #b6bf45;
  --color-rime80: #c4cd52;
  --color-rime85: #d3db60;
  --color-rime90: #e1e96d;
  --color-rime95: #f0f87b;

  --color-green05: #001d00;
  --color-green10: #002500;
  --color-green15: #032f00;
  --color-green20: #033a00;
  --color-green25: #0c4600;
  --color-green30: #195200;
  --color-green35: #275e00;
  --color-green40: #346b00;
  --color-green45: #427800;
  --color-green50: #4f840b;
  --color-green55: #5c921d;
  --color-green60: #699f2c;
  --color-green65: #77ac3a;
  --color-green70: #84ba47;
  --color-green75: #92c854;
  --color-green80: #a0d661;
  --color-green85: #aee46f;
  --color-green90: #bcf27c;
  --color-green95: #caff8a;

  --color-cyan05: #002715;
  --color-cyan10: #002d1f;
  --color-cyan15: #00352a;
  --color-cyan20: #004035;
  --color-cyan25: #004d40;
  --color-cyan30: #005a4b;
  --color-cyan35: #006757;
  --color-cyan40: #007463;
  --color-cyan45: #00816f;
  --color-cyan50: #008f7b;
  --color-cyan55: #009c88;
  --color-cyan60: #00aa95;
  --color-cyan65: #00b8a2;
  --color-cyan70: #00c6b0;
  --color-cyan75: #00d5bd;
  --color-cyan80: #00e3cb;
  --color-cyan85: #00f2d9;
  --color-cyan90: #00ffe7;
  --color-cyan95: #00fff5;

  --color-sky05: #002540;
  --color-sky10: #002b4c;
  --color-sky15: #003558;
  --color-sky20: #004064;
  --color-sky25: #004c70;
  --color-sky30: #00597d;
  --color-sky35: #00658a;
  --color-sky40: #007297;
  --color-sky45: #007fa4;
  --color-sky50: #008db2;
  --color-sky55: #009ac0;
  --color-sky60: #00a8ce;
  --color-sky65: #00b6dc;
  --color-sky70: #00c4ea;
  --color-sky75: #00d2f8;
  --color-sky80: #00e0ff;
  --color-sky85: #00efff;
  --color-sky90: #00fdff;
  --color-sky95: #00ffff;

  --color-blue05: #001564;
  --color-blue10: #001f71;
  --color-blue15: #00297e;
  --color-blue20: #00338b;
  --color-blue25: #003e98;
  --color-blue30: #0049a6;
  --color-blue35: #0054b4;
  --color-blue40: #0060c2;
  --color-blue45: #006cd0;
  --color-blue50: #2279de;
  --color-blue55: #3985ec;
  --color-blue60: #4c92fb;
  --color-blue65: #5d9fff;
  --color-blue70: #6dadff;
  --color-blue75: #7dbaff;
  --color-blue80: #8cc8ff;
  --color-blue85: #9cd6ff;
  --color-blue90: #abe4ff;
  --color-blue95: #baf2ff;

  --color-purple05: #080057;
  --color-purple10: #1a0663;
  --color-purple15: #291270;
  --color-purple20: #371d7d;
  --color-purple25: #44298a;
  --color-purple30: #523497;
  --color-purple35: #5f40a5;
  --color-purple40: #6c4cb3;
  --color-purple45: #7a58c0;
  --color-purple50: #8864ce;
  --color-purple55: #9571dd;
  --color-purple60: #a37eeb;
  --color-purple65: #b18bfa;
  --color-purple70: #bf98ff;
  --color-purple75: #cea6ff;
  --color-purple80: #dcb3ff;
  --color-purple85: #ebc1ff;
  --color-purple90: #f9cfff;
  --color-purple95: #ffddff;

  --color-magenta05: #430030;
  --color-magenta10: #50003b;
  --color-magenta15: #5e0046;
  --color-magenta20: #6b0052;
  --color-magenta25: #79005e;
  --color-magenta30: #87006b;
  --color-magenta35: #951877;
  --color-magenta40: #a32a84;
  --color-magenta45: #b23991;
  --color-magenta50: #c0489e;
  --color-magenta55: #cf56ac;
  --color-magenta60: #dd63b9;
  --color-magenta65: #ec71c7;
  --color-magenta70: #fb7fd5;
  --color-magenta75: #ff8de3;
  --color-magenta80: #ff9bf2;
  --color-magenta85: #ffa9ff;
  --color-magenta90: #ffb7ff;
  --color-magenta95: #ffc5ff;
}